* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}




.nav-container{
	z-index: 90000;
	position: fixed;
	padding: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 60px;
	background: #001a09;
	transition: width ease .5s;	
}

nav ul {
	list-style: none;
	left: 0;
	margin-left: 0;
	margin-top: 10px;
	padding: 10px;
	overflow: hidden;
}

nav ul li{
	left: 0;
	margin-left: 0;
	padding-top: 90px;	
}

.nav-container nav ul li a:active, a:visited{
	color: #cf0000;
	z-index: 90000;
}

.nav-container nav ul li a img:hover{
	z-index: 90000;
	height: 55px;
	width: 55px;
	transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
}


@media screen and (max-width: 760px){
	nav ul li{
		z-index: 90000;
		box-sizing: border-box;
		width: 100%;
		padding-top: 55px;
	}
	
	.jumbotron{
		background:url("grapes.jpg" ) no-repeat center center fixed;
		background-size: cover;
	}
	
	.b-orange{
		overflow: scroll;
	}
	
	.b-orange div{
		position: relative;
		display: table;
	}
}

.panel {
  min-height: 100vh;
  margin-left: 60px;
  overflow: hidden;
}


.panel__content div{
	padding-right: 30px;
}

.panel__content ul{
	display: inline;
	list-style: none;
	padding-right: 20px;
	left: 0;
	clear: both;
	
}

.b-orange{
	background-color: rgba(255,  213,  186, 0.27);
}

.b-orange div{
	margin-left: 30px;
}
.upload_button{
	margin: auto;
    left:0; right:0;
    top:0; bottom:0;
    position: absolute;
    width: 210px;
    height: 210px;
	border: 2px solid;
	border-radius: 100px;
	background-color:#e2ec31;
	text-align:center;
	float: center;
    padding-left: 15px;
}


.backCircle{
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	float: center;
	text-align: center;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: rgba(228,    238,    49, 0.51);
}

.b-red{
	background-image: url("factsImage.jpg");
	background-size: cover;
}

.b-red p{
	color: white;
}


#2 form{
		width: 500 px;
		margin: 50px auto;
	}
	
.b-red{
	padding-left: 6px;
	background: url('factsImage.jpg');
	background-size: cover;
}

.b-red h3, label, #bmi{
	color: #f0eded;
	font-size: 20;
}
	
#search{
	padding:8px 20px;
	background: #0e9696;
	border:0px solid black;
	
}
#submit{
	position:relative;
	padding: 6px 15px;
	left:=8px;
	border:100px solid #000000;
	background-color:#b51c1c;
	color:fuchsia;
}


.panel__content ol{
	list-style: none;
}

#sr{
	
	clear: both;
	float: left;
}

#ml{
	clear: both;
	float: left;
}

#nd{
	margin-left: 100px;
}

.moreFacts{
	margin-left: 10px;
	width: 500px;
}

.moreFacts ul {
	list-style: hiragana;
	
}

.moreFacts h2:hover, li:hover{
	-webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    
    transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
}
