* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.jumbotron{
	position: relative;
	float: left;
	top: 0;
	margin-left: 0;
	height: 100%;
	width: 100%;
    float: left;
    background:url("grapes.jpg" );
	background-size: cover;
}


.nav-container{
	z-index: 90000;
	position: fixed;
	padding: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 60px;
	background: #001a09;
	transition: width ease .5s;	
}

nav ul {
	list-style: none;
	left: 0;
	margin-left: 0;
	margin-top: 10px;
	padding: 10px;
	overflow: hidden;
}

nav ul li{
	left: 0;
	margin-left: 0;
	padding-top: 90px;	
}

.nav-container nav ul li a:active, a:visited{
	color: #cf0000;
	z-index: 90000;
}

.nav-container nav ul li a img:hover{
	z-index: 90000;
	height: 55px;
	width: 55px;
	transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
}


@media screen and (max-width: 580px){
	nav ul li{
		z-index: 90000;
		box-sizing: border-box;
		width: 100%;
		padding-top: 55px;
	}
	
	.jumbotron{
		background:url("grapes.jpg" ) no-repeat center center fixed;
		background-size: cover;

	}
}

.panel {
  min-height: 100vh;
  margin-left: 60px;
  overflow: hidden;
}


.panel__content div{
	padding-right: 30px;
}

.panel__content ul{
	display: inline;
	list-style: none;
	padding-right: 20px;
	left: 0;
	clear: both;
	
}

.b-orange{
	background-color: rgba(255,  213,  186, 0.27);
}

.b-orange div{
	margin-left: 30px;
}

.b-red{
	background-image: url("factsImage.jpg");
	background-size: cover;
}

.b-red p{
	color: white;
}


#2 form{
		width: 500 px;
		margin: 50px auto;
	}
	
#search{
	padding:8px 20px;
	background: #0e9696;
	border:0px solid black;
	
}
#submit{
	position:relative;
	padding: 6px 15px;
	left:=8px;
	border:100px solid #000000;
	background-color:#b51c1c;
	color:fuchsia;
}


.panel__content ol{
	list-style: none;
}

#sr{
	
	clear: both;
	float: left;
}

#ml{
	clear: both;
	float: left;
}

#nd{
	margin-left: 100px;
}
